body {
    width: 80%;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    color: rgba(0, 0, 0, .6);
}

main {
    width: 100%;
    margin: 10%;
}

@media screen and (min-width:575px) {
    #normal-login {
        width: 48%;
        /* display: inline-block; */
        float: left;
        margin: 2%;
    }
    #social-login {
        width: 30%;
        display: inline-block;
        /* float: right; */
        margin: 5.5%;
    }
}

.form-items {
    display: block;
    padding: 10px 0;
    margin-top: 2em;
}

.form-input {
    border: transparent;
    outline-color: transparent;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.form-input:focus {
    border-bottom: 1px solid #3c52dd;
}

.show {
    display: block;
}

.remove {
    display: none;
}

@media screen and (max-width:575px) {
    #social-login {
        margin-top: 10%;
        width: 100%;
        text-align: center;
    }
    .btn {
        text-align: center;
        width: 100% !important;
    }
}

a {
    text-decoration: none;
}

p,
input::placeholder {
    line-height: 30px;
    font-size: 16px;
}

#register-link {
    width: 44%;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    text-align: center;
    display: inline-block;
    color: #8D92B4;
    margin-right: 10%;
    padding-bottom: 1em;
}

#login-link {
    width: 44%;
    border-bottom: 1px solid #3c52dd;
    text-align: center;
    display: inline-block;
    color: #8D92B4;
    padding-bottom: 1em;
}

#number-prefix {
    /* margin-top: 1em; */
    border: transparent;
    outline-color: transparent;
    width: 80px;
}

#number-suffix {
    margin-top: -33px;
    max-width: 85%;
}

select#country,
#number-prefix {
    color: rgba(0, 0, 0, .6);
    font-size: 16px;
}

/* remove number input arrows */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input#number-suffix {
    padding-left: 80px;
}

#main-number {
    /* display: inline; */
    /* width: 80%; */
    /* display: block; */
    padding: 20px;
    margin-top: 2em;
    border: transparent;
    outline-color: transparent;
    width: 79%;
}

.btn {
    width: 250px;
    border-radius: 50px;
    background: #3a4ce1;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: .54px;
    text-transform: uppercase;
    margin-top: 1em;
    padding: 17px 20px 10px 20px;
    display: inline-block;
    text-decoration: none !important;
    cursor: pointer;
}

#f-book-btn {
    background-color: rgb(59, 89, 152) !important
}

#google-btn {
    background-color: rgb(221, 75, 57) !important;
}

img {
    display: inline;
    float: right;
    position: relative;
    bottom: 5px;
}

.select-country {
    border: transparent;
    outline-color: transparent;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 10px 0;
    margin-top: 2em;
    background-color: #fff
}

form {
    opacity: .6;
}

#forgot-password {
    display: block;
    float: right;
    font-size: 12px;
    margin: 20px 0;
    color: #3a4ce1;
}

#login-btn {
    display: block;
    margin: 40px 0px 20px 0px;
}

#login-btn:hover {
    opacity: 1 !important;
}

#phone-login {
    margin-left: 10px;
    color: #3a4ce1;
}